* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    
}


header .top-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #4385c1;
    height: 110px;
}




header nav  .quick-nav {
    margin-left: 35px;
    width: 35%;
    
}

header nav  .quick-nav ul {
    padding: 40px;
    padding-left: 25px;
    display: flex;
    list-style: none;
}

header nav  .quick-nav ul li a {
    color: white;
    padding: 5px;
    font-size: 15px;
}

header nav .branding {
    width: 30%;
}



img {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
    
}

header nav .branding p {
    margin-top: 10px;
    color: #e7ecf0;
    font-size: 13px;
    text-align: center;
}

header nav .utili {
    padding: 45px;
    display: flex;
    width: 35%;
    justify-content: flex-end;
}

header button {
    color: white;
    background-color: #4385c1;
    border: white solid 0.5px;
    border-radius: 8px;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
}

label #btn {
    display: none;
}



@media screen and (max-width: 1060px) {
    .branding {
        margin-left: 220px;
    }
    
    header nav  .quick-nav ul li a {
        color: white;
        padding: 5px;
        font-size: 14px;
    }

    header button {
        width: 75px;
        font-size: 13px;
    }

}

@media screen and (max-width: 1050px) {
    header nav  .quick-nav ul li a {
        color: white;
        padding: 5px;
        font-size: 14px;
        padding-left: 0;
        
    }

    header nav  .quick-nav ul {
        padding: 40px;
        padding-left: 5px;
    }

    header button {
        width: 75px;
        font-size: 13px;
    }

}

@media screen and (max-width: 900px) {
    .quick-nav {
        display: none;
    }

    header button {
        display: none;
    }

}

header .main-nav i {
    position: relative;
    top: -20px;
}

header .main-nav , header .mob-nav {
    width: 100%;
    background: #043867;
    height: 40px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    top: 110px;
    left: 0px;
    
}

header .main-nav ul {
   width: 95%;
   height: 40px;
   margin: 0 auto;
   display: flex;
}

header .main-nav ul li {
    width: 20%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
    height: 40px;
    border-left: 0.01px solid white;
}

header .main-nav ul li a {
    position: relative;
    top: -10px;
}

header .main-nav ul li:hover {
    background-color: rgb(6, 6, 36);
}

#alum {
    border-right:0.01px solid white;
}

header .mob-nav ul li:hover {
    background-color: rgb(6, 6, 36);
}

header nav ul li a {
    color: #fff;
}

header .mob-nav {
    display: none;
}

#check {
    display: none;
}

label #btn,label #cancel {
    color: white;
    font-size: 30px;
    margin-right: 30px;
    cursor: pointer;
    display: none ;

}



label #btn {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 30px;
    display: none !;

}

label #cancel {
    margin: -30px;
    margin-left: 70px;
    display: none;
}



@media screen and (max-width: 550px) {

    div button {
        display: none;
    }

    div.quick-nav {
        display: none;
    }

    div.branding {
        margin-left: 110px;
    }

    header div p {
        width: 290px;
    }

    img {
        margin-left: -40px;
    }

    .branding p {
        margin-left: -39px;
    }

    nav.main-nav {
        display: none;
        
    }
    nav.mob-nav {
        display: block;
        background-color: white;
    }

    .mob-nav ul {
        z-index: 2;
        position: relative;
        background: #043867;
        left: -100%;
        transition: all .5s;
        
    }

    .mob-nav li {
        text-align: center;
        padding: 20px;
        cursor: pointer;
        border-bottom: 0.01px solid white;
    }

    div button {
        display: none;
    }

    #check {
        display: none;
    }

    div.quick-nav {
        display: none;
    }

    label #btn {
        display: block;
    }

    

    
}

main div.hero {
    position: relative;
    top: 80px;
    height: 360px;
    background-image: url(./img/hero.jpg) ;
    background-size: cover;
    
}


main div .h {
    position: relative;
    top: 110px;
    border-top: solid 0.5px white;
    border-bottom: solid 0.5px white;
    margin: 15px 100px;
}

@media screen and (max-width: 460px) {
    main div .h {
        margin-left: 70px;
    }

    main div .h p {
        position: relative;
        left: -50px;
        width: 400px;
        font-size: 30px;
    }


}


main .slogan {
    position: relative;
    top: 100px;
    display: flex;
    background-color: #7aa120;
    height: 90px;
}

h1 {
    margin-top: 9px;
    font-family: Georgia, serif;
	font-weight: normal;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: normal;

}

main div div p {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}



main .slogan h1 {
    padding-top: 10px;
    width: 45%;
    text-align: center;
}
 main .slogan p {

    margin-top: 25px;
    margin-left: 15px;
    color: white;
    width: 55%;
 }

@media screen and (max-width: 550px) {
    main .slogan {
        height: 90px;
    }
    main .slogan h1 {
        padding-top: 25px;
        font-size: 20px;
    }

    main .slogan p {
        font-size: 11px;
    }
}

 article {
    position: relative;
    top: 100px;
 }

 article section.row_up {
    max-width: 100%;
    display: flex;
    height: 250px;
    padding-bottom: 30px;
 }

 article section.row_up div {
    background-color: rgb(245, 245, 245);
    margin: 10px;
    padding: 0 20px;
    width: 33.33%;
    height: 100%;
 }

 article section.row_up div h2 {
    padding-top: 25px;
    padding-bottom: 5px;
    color: #4385c1;
 }

 h2 a {
    color: #4385c1;
}

article section.row_up div p {
    font-size: 15px;
    line-height: 1.3;
    color: #81858a;
}

article section.row_down {
    display: flex;
    height: 250px;
    padding-bottom: 30px;
}

.purple , .blue , .event{
    margin: 15px;
    width: 33.33%;
    height: 100%;
}

.purple , .blue {
    padding: 25px 20px;
}

.purple a , .blue a {
    color: white;
}

.purple {
    background-color: #620e6e;
}

.blue {
    background-color: #4385c1;
}

article section.row_down .event {
    line-height: 1.8;
}

article section.row_down .event div {
    display: flex;
}

article section.row_down .event div section  {
    width: 50px;
    height: 60px;
    text-align: center;
    border: 0.05px grey solid;
    margin: 5px 0px;
    line-height: 1.35;
}

article section.row_down .event div section span {
    font-size: 13px;
    color: #7aa120;
}

article section.row_down .event div section p {
    color: #7aa120;
    font-size: 25px;

}

@media screen and (max-width: 550px) {
    article section.row_up div h2 {
        font-size: 15px;
    }

    article section.row_up div p {
        font-size: 10px;
    }

    .row_down h2, .row_down p {
        font-size: 15px !important;
    }

    .cal_1 section {
        padding-right: 23px;
        padding-left: 12px;
    }

    .cal_1 p , .cal_2 p {
        font-size: 10px !important;
    }
}

main .nav_button {
    position: relative;
    top: 140px;
    display: flex;
    
}

main button {
    width: 25%;
    margin: 0px 15px;
    height: 30px;
    text-transform: uppercase;
    background: white;
    color: #4385c1;
    border: 0.5px solid #4385c1;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

main button:hover {
    background-color: #669999;
    color: #6600ff;
}

footer {
    position: relative;
    bottom: 0px;
    margin-top: 200px;
    background-color: #34383c;
    height: 850px;
}

footer .foot_nav {
    display: flex;
    height: 90%;    
}

footer .foot_nav .left {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

footer .foot_nav .left div {
    width: 33.33%;
    margin: 0;
    padding: 0px 15px;
    padding-right: 40px;
}

footer .foot_nav article div h3 a {
    color: white;
}

footer .foot_nav .left div ul li a {
    color: #81858a;
}

footer .copy_right {
    height: 10%;
}

footer .copy_right p {
    font-size: 12px;
    position: relative;
    top: 40px;
    color: white;
    text-align: center;
}


 h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-weight: normal;
}

h2 , .purple a p, .blue a p {
	font: 1.6rem/1.2 Helvetica, Verdana, sans-serif;
}

@media screen and (max-width: 550px) {
    footer {
        font-size: 11px;
    }
}



